#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #ee1111aa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #ee1111aa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: rgb(187, 42, 42);
}

/* Conteneur de logos */
.logo-container {
  display: flex;               /* Active flexbox */
  justify-content: center;     /* Aligne les éléments horizontalement au centre */
  align-items: center;         /* Aligne les éléments verticalement au centre */
  gap: 20px;                   /* Ajoute de l'espace entre les logos */
  flex-wrap: wrap;             /* Permet aux logos de se répartir sur plusieurs lignes si l'écran est trop petit */
}

/* Carte des logos */
.logo-card {
  flex: 1 1 200px;             /* La carte prend 1 part, mais ne doit pas dépasser 200px */
  max-width: 250px;            /* La largeur maximum de chaque carte */
}

/* Image des logos */
.logo {
  width: 100px;                /* Définit la largeur de l'image (tu peux l'ajuster) */
  height: auto;                /* Garde les proportions */
}

.event-volailles {
  background-color: #facc15 !important; /* jaune */
  border: none !important;
  color: #000 !important;
}

.event-aquaponie {
  background-color: #38bdf8 !important; /* bleu clair */
  border: none !important;
  color: #000 !important;
}

.event-cultures {
  background-color: #4ade80 !important; /* vert */
  border: none !important;
  color: #000 !important;
}

.event-ovins {
  background-color: #a78bfa !important; /* violet */
  border: none !important;
  color: #fff !important;
}

.event-administratif {
  background-color: #e91717 !important; /* rouge */
  border: none !important;
  color: #fff !important;
}

@layer utilities {
  @keyframes slide-up {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  .animate-slide-up {
    animation: slide-up 0.3s ease-out;
  }
}

.dialog-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.dialog-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 1rem;
  border-radius: 8px;
  width: 90%;
  max-width: 600px;
  z-index: 50;
}
